<div class="pensamento {{pensamento.modelo}} ff-roboto-mono"
  [ngClass]="larguraPensamento()">
<img src="../../../../assets/imagens/{{ pensamento.modelo }}.png" alt="Aspas coloridas">
<p> {{pensamento.conteudo}}</p>
<p> {{pensamento.autoria}}</p>
<div class="acoes">
  <button class="botao-favorito">
    <img src="../../../../assets/imagens/icone-favorito-{{mudaIconeFavorito()}}.png"
      alt="Ícone favorito {{mudaIconeFavorito()}}">
  </button>
  <button class="botao-editar">
    <img src="../../../../assets/imagens/icone-editar.png" alt="Ícone de editar" routerLink="/pensamentos/editarPensamento/{{pensamento.id}}">
  </button>
  <button class="botao-excluir">
    <img src="../../../../assets/imagens/icone-excluir.png" alt="Ícone de excluir" routerLink="/pensamentos/excluirPensamento/{{pensamento.id}}">
  </button>
</div>
</div>
